<div class="navBar">
    <nav class="container py-2 border-bottom">
        <div class="row">
            <h1 class="col-3 text-center fs-6">Welcome to expressJS template</h1>

            <ul class="d-flex gap-5 col-6 text-end">
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>
            </ul>

            
</div>