<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= title %></title>
  <meta name="description"
    content="An치lisis de dise침o & CX / UX / UI de P치ginas Web y Apps m칩viles(iPhone & Android). Recibe feedback de la Usabilidad & Experiencia de usuario de tu Web o App de un experto.">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!--  START PostHog -->
  <script defer type="module" src="./js/PostHog.js"></script>
  <!--  END PostHog -->

  <!--  START Google Tag Manager -->
  <script src="./js/GTM.js"></script>
  <!--  END Google Tag Manager -->


<%- include ('./components/bootstrapHead.ejs') %>

</head>

<body>
  <!-- * START Google Tag Manager -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWWFR64" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- * END Google Tag Manager (noscript) -->

  <p class="h1">Welcome to expressJS template</p>

  <a href="/login">login</a>
  <a href="/register">register</a>



</body>

</html>